.email-bar {
  width: 100%;
  padding: 10px;
  color: $textcolor;
  background-color: $backgroundcolor;
  height: 80px;
  justify-content: space-evenly;
  border-radius: $border-radius;
  margin-bottom: 7px;
  font-size: $font14;
  text-align: center;

  .inbox,
  .sent,
  .spam,
  .trash {
    padding: 10px;
    border-radius: $border-radius;

    &:hover {
      background-color: $sidebarhover;
    }
  }
}

.email-list {
  width: 100%;
  border-radius: $border-radius;
  border: 1px solid rgba($color: white, $alpha: 0.2);
  color: $textcolor;
  background-color: $backgroundcolor;

  .email-search {
    width: 100%;
    padding: 10px;

    input {
      width: 100%;
      border: none;
      background-color: rgba($color: white, $alpha: 0.2);
      border-radius: 2px;
      color: $textcolor;
    }

    ::placeholder {
      color: rgba($color: white, $alpha: 0.5);
      padding-left: 10px;
    }
  }
}

.email-expand {
  display: none;
  width: 75%;
  background-color: $backgroundcolor;
  border: 1px solid rgba($color: white, $alpha: 0.2);
  border-radius: $border-radius;
}

.email-expand-header {
  color: $textcolor;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba($color: white, $alpha: 0.2);

  .mail-image {
    margin: 0 25px;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    color: $textcolor;
  }

  .email-expand-icons {
    i {
      font-size: $font16;
      padding: 10px 25px;
    }
  }

  .email-expand-title {
    flex-direction: column;
    color: $textcolor;

    .email-expand-sender {
      font-size: $font12;
      font-weight: $textlight;
    }
  }
}

.email-text {
  width: 100%;
  padding: 40px 50px;
  color: $textcolor;
}
