.container-login {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  .login {
    padding: 0;
    width: 100%;
    height: 50vh;
    padding: 25px;
    border: 1px solid rgba($color: #313452, $alpha: 0.2);
    background-color: $mainbackgroundcolor;
    font-family: 'Open Sans', sans-serif;
    color: $textcolor;
    font-size: 1.8rem;
    text-shadow: 1px 1px $lightbackground;
    cursor: pointer;

    &:hover {
      background-color: $sidebarhover;
    }
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin: 0 auto;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  &.open {
    display: flex;
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .avatar {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: -45px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      z-index: 9;
      background: #60c7c1;
      padding: 15px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        color: $textcolor;
      }
    }

    .modal-header {
      border-bottom: none;
      position: relative;
      justify-content: center;

      h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
      }
    }

    .modal-body {
      position: relative;
      padding: 60px 24px 24px 24px;

      form {
        .form-group {
          margin-bottom: 15px;

          input {
            display: block;
            width: 90%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1.5px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            transition: all ease-in-out 0.2s;

            &:focus {
              border: 1.5px solid #60c7c1;
              outline: 0;
            }
          }

          .login-btn {
            min-height: 40px;
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            line-height: normal;
            border: none;
            display: block;
            width: 100%;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover,
            &:focus {
              outline: 0;
            }

            &:hover {
              background-color: #429797;
            }
          }
        }
      }
    }

    .modal-footer {
      background: #ecf0f1;
      border-color: #dee4e7;
      text-align: center;
      justify-content: center;
      margin: 0 -20px -20px;
      border-radius: 0 0 5px 5px;
      font-size: 13px;
      min-height: 40px;
      display: flex;
      align-items: center;

      a {
        color: #999;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #727272;
        }
      }
    }
  }
}
