.contentbox {
  margin-left: 50px;
  border-radius: $border-radius;
}

.maincontent {
  margin: 7px;
}

.smallrow {
  width: 100%;
  min-height: 100px;
}

.bigrow {
  width: 100%;
  min-height: 400px;
}

.break {
  min-height: 400px;
}

/////////////////SALES/////////////////
.sale-objectives {
  width: 100%;
  min-height: 100px;
  background-color: $backgroundcolor;
  border-radius: 3px;
  padding: 10px;

  .sale-objectives-header {
    justify-content: space-between;
    margin-bottom: 10px;

    select {
      background-color: #404053;
      border: 1px solid #404053;
      border-radius: 2px;
      color: #fff;
      padding: 5px 10px;
      font-size: 12px;
      opacity: 0.8;
      font-weight: 100;
      outline: none;
      cursor: pointer;

      option {
        background-color: #404053;
        color: #fff;
        padding: 10px;
        outline: none;
        cursor: pointer;
      }
    }

    select:focus > option:checked {
      background: $backgroundcolor !important;
    }
  }

  p {
    margin: 0;
    padding-left: 0;
    color: $textcolor;
  }

  .sale-objectives-footer {
    float: right;
    width: fit-content;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: $font14;
    background-color: #404053;
    justify-content: flex-end;
    border-radius: 2px;
    opacity: 0.8;
  }
}

.progressbar {
  border-radius: 2px;
  background-color: #70798c;
  width: 100%;

  .bar {
    font-size: $font10;
    justify-content: space-around;
    width: 45%;
    background-color: $blue;
    color: white;
    border-radius: 2px 0 0 2px;
  }
}

//////////WEATHER WIDGET//////////////////
.weather {
  min-height: 100px;
  color: $textcolor;
  background-color: $backgroundcolor;
  border-radius: 3px;
  padding: 10px;

  .meteo-data {
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 0;
  }

  .meteo-day {
    width: calc(100% / 5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .meteo-text {
    display: flex;
    flex-direction: column;
  }

  .weather-icon {
    font-size: 24px;
  }

  .meteo-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .temp {
      font-size: 10px;
    }

    .meteo-date {
      font-size: 8px;
    }
  }

  .meteo-city {
    margin: 0;
    padding-left: 0;
    color: white;
  }
}

/////////SOCIAL MEDIA /////////////////
.social {
  justify-content: space-evenly;
  min-height: 100px;
  background-color: $backgroundcolor;
  border-radius: 3px;
  border: 1px solid rgba($color: white, $alpha: 0.2);

  a {
    padding: 5px;
    transition: all 0.2s ease-in-out;
    color: $iconcolor;
    font-size: $font40;

    &:hover {
      color: $blue;
    }
  }
}

////////Space between blocks//////
.gap + .gap {
  margin-top: 7px;
}

////////////////////EMAILS SECTION /////////////////////
.emails {
  max-height: 400px;
  margin-top: 7px;
  border-radius: $border-radius;
  background-color: $backgroundcolor;
  color: $textcolor;
  font-family: $textfontfamily;
  overflow: hidden;
}

.mailbox {
  padding: 0 20px;
  height: 50px;
  justify-content: space-between;

  p {
    margin: 0;
  }
}

.mailitem {
  background-color: $lightbackground;
  min-height: 50px;

  .mailcontent {
    width: 100%;
  }

  .mailimage {
    min-width: $mailcircle;
    min-height: $mailcircle;
    background-color: black;
    border-radius: 50%;
    margin: 0 10px;
    font-size: $font16;
  }

  .mailheader {
    justify-content: space-between;

    .mailtitle {
      font-size: $font14;
      font-weight: $textregular;
    }

    .maildate {
      font-size: $font12;
      font-weight: $textlight;
      padding-right: 10px;
    }
  }

  .mailsubject {
    font-size: $font10;
    font-weight: $textregular;
  }

  .mailtext {
    font-size: $font10;
    font-weight: $textlight;
    max-height: 15px;
    word-break: break-all;
  }
}

.mailitem + .mailitem {
  border-top: 1px solid rgba($color: white, $alpha: 0.15);
}

/////////////////////EVENTS //////////////////////

.events {
  max-height: 400px;
  border-radius: $border-radius;
  background-color: $lightbackground;

  li + li {
    border-top: 1px solid rgba($color: white, $alpha: 0.2);
  }
}
////Header class for all blocks /////
.block-header {
  border-radius: $border-radius;
  background-color: $backgroundcolor;
  color: $textcolor;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;

  p {
    margin: 0;
  }
}

.list {
  height: 50px;
  justify-content: space-between;
  color: $textcolor;

  .eventdate {
    font-size: $font12;
    font-weight: $textlight;
    width: 50px;
    height: 100%;
  }

  .flexcolumn {
    padding-left: 10px;
    border-left: 1px solid rgba($color: white, $alpha: 0.2);

    div + div {
      margin-top: 5px;
    }
  }

  .eventtitle {
    font-size: $font12;
    font-weight: $textregular;
  }

  .eventtext {
    font-size: $font10;
    font-weight: $textlight;
  }

  .eventutils {
    margin-right: 10px;
    cursor: pointer;

    i {
      margin: 0 10px;
    }
  }
}

///////////////TICKETS ////////////////////
.tickets {
  border-radius: $border-radius;
  background-color: $lightbackground;
}

.tickets-overflow {
  overflow: auto;
  height: calc(100% - 50px);
}

.ticket {
  color: $textcolor;
  font-weight: $textlight;
  justify-content: space-between;
  height: 49px;

  .ticket-open {
    height: 100%;
    width: 50px;
    cursor: pointer;

    i {
      color: $iconcolor;
    }
  }

  button {
    font-size: $iconfontsize;
    padding: 0 10px;
    height: 100%;
    background: transparent;
    color: $iconcolor;
  }

  .ticket-subject {
    margin: 0;
    font-size: $font14;
    font-weight: $textregular;
  }

  .ticket-state {
    font-size: $font10;
    font-weight: $textlight;
    color: $inprogress;
  }
}

.tickets-body + .tickets-body {
  border-top: 1px solid rgba($color: white, $alpha: 0.2);
}

.collapsible {
  padding: 0 10px;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  p {
    margin: 0;
    color: $textcolor;
  }
}

.down {
  padding: 10px;
  height: auto;
}

.modal-ticket {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;

  .modal-ticket-content {
    margin: auto;
    position: relative;
    width: 400px;
    background-color: $lightbackground;
  }
}

/////////////////ORDERS /////////////////
.table-row + .table-row {
  border-top: 1px solid rgba($color: white, $alpha: 0.2);
}

.table-order {
  background-color: $lightbackground;
  margin-top: 7px;
  border-radius: $border-radius;

  & > div:nth-child(2n + 3) {
    background-color: $backgroundcolor;

    &:hover {
      background-color: $sidebarhover;
    }
  }
}

.table-header {
  background-color: $backgroundcolor;
  border-radius: $border-radius;
  color: $textcolor;
  font-family: $textfontfamily;
  font-weight: $textregular;
  padding: 10px 10px;

  .header-id {
    display: none;
  }

  .header-client {
    width: 60%;
  }

  .header-number {
    display: none;
  }

  .header-value {
    width: 20%;
  }

  .header-date {
    width: 20%;
  }
}

.table-row {
  padding: 7px 10px;
  height: 50px;

  &:hover {
    background-color: $sidebarhover;
  }
}

.order {
  font-size: $font12;
  font-weight: $textlight;
  color: $textcolor;
  height: 100%;
  align-items: center;
}

.id {
  display: none;
}

.client {
  width: 60%;
}

.number {
  display: none;
}

.value {
  width: 20%;
}

.date {
  width: 20%;
}

//////// HOME CHART /////////////
.chart {
  max-width: 100%;
}
