.maincontent {
  flex-wrap: wrap;
}

.filter-bar {
  width: 100%;
  padding: 15px 10px;
  background-color: $backgroundcolor;
  border-radius: $border-radius;

  .filter-top-row {
    margin-bottom: 10px;

    input {
      width: 80%;
      color: $textcolor;
      height: 1.5rem;
      border-radius: 1px;
      border: 1px solid rgba($color: white, $alpha: 0.2);
      background-color: rgba($color: white, $alpha: 0.2);
    }

    i {
      color: $iconcolor;
    }

    .shopping-cart {
      width: 20%;
      text-align: center;
    }
  }

  .filter-bottom-row {
    justify-content: space-between;
    color: $textcolor;

    label {
      font-size: $font12;
      font-family: $textfontfamily;
    }

    i {
      color: $iconcolor;
    }

    .filter-vat {
      label {
        margin-left: 5px;
      }
    }

    .filter-order {
      label {
        margin-right: 5px;
      }

      i {
        margin-left: 10px;
      }
    }
  }
}

.product-card {
  width: calc(50% - 3.5px);
  padding: 10px 20px;
  border-radius: $border-radius;
  background-color: $backgroundcolor;
}

.product-card:nth-child(even) {
  margin-left: 7px;
}

.product-card:nth-child(1n + 3) {
  margin-top: 7px;
}

.product-image {
  background-color: $lightbackground;
  border-radius: $border-radius;
  width: 100%;
  height: 100px;

  img {
    display: block;
    margin: 0 auto;
    height: 100%;
  }
}

.product-title {
  font-size: $font12;
  color: $textcolor;
  text-align: center;
  margin: 10px 0;
}

.product-price {
  color: $textcolor;
  font-size: $font10;
  text-align: center;
}
