
@media screen and (min-width: 1025px) {
  .container {
    display: flex;

    .login {
      width: 50%;
      height: 100vh;
      font-size: 5rem;
    }
  }

  .bigrow {
    .break {
      width: calc(100% / 3);
      height: 400px;
    }

    .break-large {
      width: calc(100% / 3 * 2) !important;
    }
  }

  .contentbox {
    &.open {
      margin-left: 200px;
    }
  }
}

@media screen and (min-width: 600px) {
  .smallrow {
    display: flex;

    .gap + .gap {
      margin-top: 0;
      margin-left: 7px;
    }
  }

  .sale-objectives,
  .weather,
  .social {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 768px) {
  .bigrow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .break-large {
      width: 100%;
    }
  }

  .break {
    width: calc(100% / 2);
  }
}
