
/////// SIDE BAR /////////
.sidebar {
  list-style: none;
  position: fixed;
  height: 100%;
  background-color: $backgroundcolor;
  transition: all 0.2s ease-in-out;
  width: 50px;
  overflow: hidden;
  z-index: 10;

  .header {
    color: $textcolor;
    text-decoration: none;
    cursor: pointer;
    padding: 0 7px;
    height: 60px;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 1.25rem;
    }
  }

  .collapse {
    display: flex;
    opacity: 0;
    width: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
  }

  &.open {
    width: 200px;

    .header {
      justify-content: space-between;

      .logo {
        padding: 0 16px;
      }
    }

    .collapse {
      opacity: 1;
      width: auto;
    }
  }

  a + a + a {
    border-top: 1px solid rgba($color: white, $alpha: 0.1);
  }
}

.icon {
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  z-index: 10;
  width: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .fas {
    color: $iconcolor;
  }
}

.sidebaritem {
  padding: 10px 0;
  font-weight: $textlight;
  text-decoration: none;
  color: $textcolor;
  transition: all 0.15s ease-in-out;
  align-items: center;

  &:hover {
    background-color: $sidebarhover;
  }
}
