
/////// SIDE BAR /////////
.sidebar {
  list-style: none;
  position: fixed;
  height: 100%;
  background-color: $backgroundcolor;
  transition: all 0.2s ease-in-out;
  width: 50px;
  overflow: hidden;
  z-index: 10;

  .header {
    color: $textcolor;
    text-decoration: none;
    cursor: pointer;
    height: 60px;
    align-items: center;

    .logo {
      font-size: 1.25rem;
    }
  }

  .collapse {
    display: flex;
    opacity: 0;
    width: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
  }

  &.open {
    width: 200px;

    .collapse {
      opacity: 1;
      width: auto;
    }
  }

  a + a + a {
    border-top: 1px solid rgba($color: white, $alpha: 0.1);
  }
}

.icon {
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  z-index: 10;
  width: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .fas {
    color: $iconcolor;
  }
}

.sidebaritem {
  padding: 10px 0;
  font-weight: $textlight;
  text-decoration: none;
  color: $textcolor;
  transition: all 0.15s ease-in-out;
  align-items: center;

  &:hover {
    background-color: $sidebarhover;
  }
}

#hamb {
  width: 17px;
  min-width: 20px;
  height: 17px;
  position: relative;
  margin: 0 17px;
  transform: rotate(0deg);
  transition: 0.2s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.2s ease-in-out;
  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2),
  span:nth-child(3) {
    top: 8px;
  }

  span:nth-child(4) {
    top: 16px;
  }

  &.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
  }

  &.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
  }
}
