$mainbackgroundcolor: #1e1e2f;
$backgroundcolor:#2a2a3f;
$lightbackground: #3a3c53;

$sidebarhover: #454569;
$blue: #5184d1;

$textcolor: white;
$textlight: 300;
$textregular: 400;
$textfontfamily: 'Open Sans';

$iconcolor:rgb(208, 210, 218);
$iconfontsize:1rem;

$border-radius: 3px;

$mailcircle: 30px;
$mailtitle:0.95rem;
$mailsubject:0.8rem;
$mailtext: 0.65rem;

$font40: 2.5rem;
$font16: 1rem;
$font14: 0.875rem;
$font12: 0.75rem;
$font10: 0.625rem;

.d-flex {
  display: flex;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

ol {
  margin: 0;
  padding: 0;
}

.pl-10 {
  padding-left: 10px;
}

.border{
  border: 1px solid rgba($color: white, $alpha: 0.2);
}

.plus-button {
  width: 24px;
  height: 24px;
  background-color: #70798c;
  color: $iconcolor;
  padding: 3px;
  border: 1px solid rgba($color: #70798c, $alpha: 0.5);
  border-radius: 3px;
}

.border-red {
  border-left: 5px solid rgba($color: #FF5353, $alpha: 0.5);
}

.border-green {
  border-left: 5px solid rgba($color: #00BF2A, $alpha: 0.5);
}
