$mainbackgroundcolor: #1e1e2f;
$backgroundcolor:#2a2a3f;
$lightbackground: #3a3c53;

$sidebarhover: #454569;
$blue: #5184d1;

$inprogress: #c0c0c0;

$textcolor: white;
$textlight: 300;
$textregular: 400;
$textfontfamily: 'Open Sans';

$iconcolor:rgb(208, 210, 218);
$iconfontsize:1rem;

$border-radius: 3px;

$mailcircle: 30px;
$mailtitle:0.95rem;
$mailsubject:0.8rem;
$mailtext: 0.65rem;

$font40: 2.5rem;
$font30: 1.875rem;
$font16: 1rem;
$font14: 0.875rem;
$font12: 0.75rem;
$font10: 0.625rem;

.d-flex {
  display: flex;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

ol {
  margin: 0;
  padding: 0;
}

.pl-10 {
  padding-left: 10px;
}

.border {
  border: 1px solid rgba($color: white, $alpha: 0.2);
}

.plus-button {
  width: 24px;
  height: 24px;
  background-color: #70798c;
  color: $iconcolor;
  padding: 3px;
  border: 1px solid rgba($color: #70798c, $alpha: 0.5);
  border-radius: 3px;
  cursor: pointer;
}

.border-red {
  border-left: 5px solid rgba($color: #ff5353, $alpha: 0.5);
}

.border-green {
  border-left: 5px solid rgba($color: #00bf2a, $alpha: 0.5);
}

.no-margin {
  margin: 0;
}

.ml-15 {
  margin-left: 15px;
}

.mt-10 {
  margin-top: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin: 0 auto;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  &.open {
    display: flex;
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .avatar {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: -45px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      z-index: 9;
      background: #60c7c1;
      padding: 15px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        color: $textcolor;
      }
    }

    .modal-header {
      border-bottom: none;
      position: relative;
      justify-content: center;

      h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
      }
    }

    .modal-body {
      position: relative;
      padding: 60px 24px 24px 24px;

      form {
        .form-group {
          margin-bottom: 15px;

          input {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1.5px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            transition: all ease-in-out 0.2s;

            &:focus {
              border: 1.5px solid #60c7c1;
              outline: 0;
            }
          }

          .login-btn {
            min-height: 40px;
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            line-height: normal;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover,
            &:focus {
              outline: 0;
            }

            &:hover {
              background-color: #429797;
            }
          }
        }
      }
    }

    .modal-footer {
      background: #ecf0f1;
      border-color: #dee4e7;
      text-align: center;
      justify-content: center;
      margin: 0 -20px -20px;
      border-radius: 0 0 5px 5px;
      font-size: 13px;
      min-height: 40px;
      display: flex;
      align-items: center;

      a {
        color: #999;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #727272;
        }
      }
    }
  }
}
